{
  "check-coverage": true,
  "statements": 0,
  "lines": 0,
  "functions": 0,
  "branches": 0,
  "extension": [
    ".js"
  ],
  "include": [
    "src/"
  ],
  "reporter": [
    "html",
    "lcov",
    "text-summary",
    "text"
  ],
  "all": true
}
